/* header */
/* header__gradient */
.header__gradient {
  position: relative;
  background:
    linear-gradient(217deg, rgba(90, 69, 244, 1), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, rgba(242, 127, 70, 1), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(255, 40, 18, 1), rgba(0, 0, 255, 0) 70.71%);
}

/* header__wavesAnimation */
.waves {
  position: relative;
  width: 100%;
  height: 200px;
}


/* header__contact */
.header__contact {
  margin-top: -100px;
}

.header__contact .row {
  position: relative;
}

.header__contact-btn {
  position: absolute;
  right: 0;
  bottom: 0;
}

.header__icons {
  font-size: 13px;
}

/* main */
.textbox {
  padding: 15px 15px 15px 18px;
  margin: 10px 0 25px 0;
  background: #f1f2f3;
  border-left: 3px solid #333;
}

/* history */
.main__history .row {
  display: -ms-grid;
  grid-row-gap: 20px;
}

.main__history-card {
  border-radius: 5px;
  border: 1px solid #707070;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/*.main__history-card:hover {
  transform: rotate(3deg);
}*/

.main__history-card>h3 {
  padding: 8px 15px;
}

.main__history-card-content {
  border-top: 1px solid #707070;
  padding: 13px 20px;
}

.main__history-card-content-logo {

  height: 50px;
  float: left;
  width: 50px;
  min-width: 15px;
  margin: 0 15px 30px 0;

}

.main__history-card:after {
  content: '';
  display: block;
  clear: both;
}

.main__history-card-content-logo img {
  width: 100%;
  object-fit: scale-down;
}

li {
  background: url(../images/li.png) no-repeat center left;
  padding: 0 0 5px 10px;
}

.badge {
  font-weight: normal;
  font-size: 1em;
  margin: 0 3px 6px 3px;
}

.badge:hover {
  cursor: pointer;
}

.badge-photoshop {
  color: #2550C7;
  background-color: #F2F4F9;
}

.badge-illustrator {
  color: #C78125;
  background-color: #F9F5F2;
}

.badge-html {
  color: #C74C25;
  background-color: #F9F2F2;
}

.badge-css {
  color: #2581C7;
  background-color: #F2F7F9;
}

.badge-javascript {
  color: #C7A725;
  background-color: #F9F8F2;
}

.badge-jquery {
  color: #2566c7;
  background-color: #f2f3f9;
}

.badge-react {
  /*color: #25C7C7;
  background-color: #F2F9F9;*/
  color: #ccc;
  background-color: #f1f2f3
}

.badge-nodejs {
  /*color: #25C760;
  background-color: #F2F9F5;*/
  color: #ccc;
  background-color: #f1f2f3
}

.badge-bootstrap {
  color: #8C25C7;
  background-color: #F7F2F9;
}

.badge-excel {
  color: #30C725;
  background-color: #F2F9F2;
}

.badge-photoshop strong,
.badge-illustrator strong,
.badge-html strong,
.badge-css strong,
.badge-javascript strong,
.badge-jquery strong,
.badge-react strong,
.badge-nodejs strong,
.badge-bootstrap strong,
.badge-excel strong {
  display: none;
}


/* project */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  display: block;
  display: relative;
}



.new-tap:hover,
.new-tap:active {
  color: #fff;
  background-color: rgb(0, 0, 0);
  border-radius: 0 0 20px 20px;
}

.new-tap-box {
  background: rgb(0, 0, 0, .4);
  padding: 9px 37px;
  border-radius: 0 0 20px 20px;

}

.swiper-button-next {
  background: url(../images/arrow-right-thin.svg) no-repeat center;
}

.swiper-button-prev {
  background: url(../images/arrow-left-thin.svg) no-repeat center;
}



/* 기존 버튼 삭제 */
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: '';
}


/* footer */
footer {
  height: 140px;
  /* border-top: 1px solid #f1f2f3; */
  background: #383d41;
  position: relative;
}

footer p {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* common */
h1 {
  font-size: 2.5em;
  font-weight: bold;
}

h2 {
  font-size: 1.6em;
  font-weight: bold;
}

h3 {
  font-size: 1.25em;
}

/*  */
.text-info span {
  font-size: 9px;
}

.dropdown-toggle::after {
  margin-left: 20px;
}

strong {
  font-weight: bold;
}

.text-info a {
  color: #5d6c76;
}

.text-info a:hover,
text-info a:active {
  color: #5d6c76;
}

/* 반응형 */
/* mobile */
@media (max-width: 436px) {
  .header__contact-btn {
    position: relative;
    margin-top: 10px;
  }
}

/* tablet */
@media (max-width : 768px) {
  .header__contact {
    margin: -60px 10px 0px 10px;
  }

  main {
    margin: 0 10px;
    box-sizing: border-box;
  }

  .waves {
    height: 120px;
  }

  .main__license {
    margin-bottom: 3em;
  }
}

/* laptop */
@media (max-width : 992px) {}

/* pc */
@media (max-width : 1200px) {}